Package      Version
------------ -------
click        7.1.2
flake8       3.8.4
Flask        1.1.2
itsdangerous 1.1.0
Jinja2       2.11.2
MarkupSafe   1.1.1
mccabe       0.6.1
pip          20.2.4
pycodestyle  2.6.0
pyflakes     2.2.0
setuptools   49.2.1
Werkzeug     1.0.1
